.Meaning p {
  color: rgba(0, 0, 0, 0.767);
}

.Meaning .Example {
  color: rgba(0, 0, 0, 0.619);
  font-style: italic;
  font-size: 14px;
}

.Meaning .Synonyms {
  color: rgb(76, 17, 17);
  font-style: italic;
  font-size: 13px;
}
